apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "data-diode-connector-egress.fullname" . }}-config
  labels:
    {{- include "data-diode-connector-egress.labels" . | nindent 4 }}
data:
  vector.yaml: |
    sources:
      syslog:
        type: syslog
        address: 0.0.0.0:8082
        mode: udp
      {{- if .Values.vector.statsd.enabled }}
      statsd:
        type: statsd
        address: 0.0.0.0:8125
        mode: udp
      {{- end }}
    sinks:
      console:
        type: console
        encoding:
          codec: csv
          csv:
            fields: [timestamp,appname,procid,severity,message]
        inputs:
          - syslog
      {{- if .Values.vector.statsd.enabled }}
      console-statsd:
        type: console
        encoding:
          codec: json
        inputs:
          - statsd
      {{- end }}

