# Default values for data-diode-connector-egress.
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

replicaCount: 1

images:
  registry: ""
  transportUdpReceive:
    repository: ffutop/ddc-transport-udp-receive
    tag: "latest"
    pullPolicy: IfNotPresent
  phKafkaEgress:
    repository: ffutop/ddc-ph-kafka-egress
    tag: "latest"
    pullPolicy: IfNotPresent
  fluentbit:
    repository: fluent/fluent-bit
    pullPolicy: IfNotPresent
    tag: "4.2.0"

transportUdpReceive:
  securityContext:
    capabilities:
      add: ["SYS_NICE"]
  # The maximum amount of elements the bip buffer can store. The size of a single element is 1Mb
  bipBufferElementCount: 10
  # From syslog server host
  fromHostSysLog: 0.0.0.0
  # From syslog server port
  fromPortSysLog: 8342
  # To syslog server host
  toHostSysLog: 127.0.0.1
  # To syslog server port
  toPortSysLog: 8082
  # Name of the handler
  handlerName: "transport-udp-receiver"
  # Log level for logging
  logLevel: "Info"
  # The address of the stats server
  statsServerAddress: 127.0.0.1
  # The port of the stats server
  statsServerPort: 8125
  # Address the receiver is host on
  receiverAddress: 0.0.0.0
  # Port the receiver should be listening on
  receiverPort: 1234
  # Location of the socket
  socketPath: "/shared/transport_to_handler"

phKafkaEgress:
  securityContext: {}
  # The maximum amount of elements the bip buffer can store. The size of a single element is 1Mb
  bipBufferElementCount: 10
  # From syslog server host
  fromHostSysLog: 0.0.0.0
  # From syslog server port
  fromPortSysLog: 8129
  # To syslog server host
  toHostSysLog: 127.0.0.1
  # To syslog server port
  toPortSysLog: 8082
  # Name of the handler
  handlerName: "ph-kafka-egress"
  # Log level for logging
  logLevel: "Info"
  # StatsD server host
  statsServerAddress: 127.0.0.1
  # The port of the stats server
  statsServerPort: 8125
  # Location of the socket
  socketPath: "/shared/transport_to_handler"
  # kafka server host
  hostKafkaServer: "kafka.kafka.svc.cluster.local"
  # kafka server port
  portKafkaServer: 9092
  # Topic to replace
  inReplacement: "TestTopic"
  # replace topic
  outReplacement: "FinalTestTopic"

imagePullSecrets: []
nameOverride: ""
fullnameOverride: ""

serviceAccount:
  create: true
  annotations: {}
  name: ""

podAnnotations: {}

podSecurityContext: {}

service:
  type: ClusterIP

resources: {}

nodeSelector: {}

tolerations: []

affinity: {}
